body {
  margin: 0;
  min-width: 250px;
  font-family: 'roboto', 'sans-serif';
  background-color: #222629;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* MAIN */

.wrap {
  margin: 0 2% 0 2%;
}



#addForm {
  width: 100%;
  text-align: center;
}

h2 {
  margin-top: 20px;
  font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
  color: #FAED26;
}

span.line {
  text-decoration: line-through;
}

span.addBtn {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}

span.addBtn:hover {
  background-color: #86C232;
}

input {
  width: 300px;
  border-radius: 10px;
}

ul {
  margin-top: 20px;
}

button {
  background-color: transparent;
  border: 1px solid black;
}

.markAsDone {
  background-color: red;
  text-decoration: line-through;
}

.liElement {
  display: flex;
  justify-content: space-between;
}

.liElement:nth-child(odd) {
  background-color: #0477BF;
}

.liElement:nth-child(even) {
  background-color: #18578f;
}

.liElement:hover {
  color: white;
  background-color: #124673;
}

.del,
.edit,
.done {
  border-radius: 28px;
  border: 1px solid rgb(255, 255, 255)3);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 17px;
  padding: 14px 28px;
  text-decoration: none;
  text-shadow: 1px 1px 4px rgb(160, 51, 27);
  transition: .3s;
}



.del:hover,
.edit:hover,
.done:hover {
  background-color: rgba(235, 235, 235, 0.795);
}